html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-color: rgb(37, 118, 74);
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 300px;
  background-color: white;
  font-size: 2rem;
  text-align: center;
}

#status {
  text-align: right;
  padding: 10px 20px 0 0;
  color: gray;
  font-size: 1.2rem;
  font-weight: bold;
}

#occupation {
  background-color: lightgray;
  padding: 15px;
}

#description {
  display: none;
  padding: 20px;
}

#price {
  padding: 15px;
}

img {
  height: 150px;
  border-radius: 50%;
  border: 3px solid green;
}

h1 {
  font-size: 3rem;
  padding: 8px;
  margin: 0;
}

p {
  margin: 0;
}

#phone {
  display: flex;
}

#phone > p {
  height: 60px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#phone > p:first-child {
  background-color: rgb(91, 206, 133);
}

#phone > p:last-child {
  background-color: rgb(54, 155, 91);
}

#price > p:first-child {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  main {
    display: grid;
    text-align: left;
    width: 550px;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "status name"
      "img occupation"
      "img description"
      "phone price";
  }

  #description {
    display: inline;
  }

  #status {
    text-align: left;
    padding: 10px 0 0 20px;
  }

  img {
    grid-area: img;
    margin: 0 auto;
  }

  #description {
    display: inline;
  }

  #phone {
    grid-area: phone;
  }

  #description > p {
    border-left: green 4px solid;
    padding: 0 20px 0 8px;
    font-size: 1.6rem;
  }

  #price {
    font-size: 1.4rem;
    padding: 10px;
  }

  h1, #name, #occupation, #description, #price {
    padding-left: 20px;
    background-color: lightgray;
  }


}
